<div class="container">
  <form action"/notes/<%=@note.id %>/edit" method="post">
  <input type="hidden" name="_method" value="put">
  <input name="title" value="<%=@note.title %>">
  <input name="description" value="<%=@note.description %>">
  <input type="submit" value="Click for Win">
</form></div>