<div class="container">
<form   action="/notes" method="post">
	<br>
	<label>Title</label>
	<br>
  <input class="text-form" name="title">
  <br>
  <br>
  <textarea class="text-form" name="description" rows=12 cols=40></textarea placeholder="Description">
  <br>
  <br>
  <input class="text-form" type="submit" value="Click to Create a Unicorn">
</form></div>